{% extends 'blog/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Cloud Technology {% endblock %}</title>
</head>
<body>
  {% block pagecontent %}
      <div class="container">
        <section class="blog-trio-post__section">
          <div id="trio-post-body" class="blog-trio-post__body">

<h2 id="markdown-WhatIsCloudTechnology">What Is Cloud Technology?</h2>
<p>Cloud computing encompasses technologies that allow individuals or businesses access to certain data or services without the need for physical infrastructure.&nbsp;</p>
<p><strong>There are a few popular cloud technology categories such as<span>&nbsp;</span></strong><span><strong>infrastructure as a service (IaaS); communication as a service (CaaS); and software as a service (SaaS).</strong></span></p>
<p>&nbsp;</p>
<figure><img src="https://www.trio.dev/hs-fs/hubfs/iaas-caas-saas.jpg?width=600&amp;name=iaas-caas-saas.jpg" alt="&quot;&quot;" width="600" loading="lazy" style="width: 600px;" srcset="https://www.trio.dev/hs-fs/hubfs/iaas-caas-saas.jpg?width=300&amp;name=iaas-caas-saas.jpg 300w, https://www.trio.dev/hs-fs/hubfs/iaas-caas-saas.jpg?width=600&amp;name=iaas-caas-saas.jpg 600w, https://www.trio.dev/hs-fs/hubfs/iaas-caas-saas.jpg?width=900&amp;name=iaas-caas-saas.jpg 900w, https://www.trio.dev/hs-fs/hubfs/iaas-caas-saas.jpg?width=1200&amp;name=iaas-caas-saas.jpg 1200w, https://www.trio.dev/hs-fs/hubfs/iaas-caas-saas.jpg?width=1500&amp;name=iaas-caas-saas.jpg 1500w, https://www.trio.dev/hs-fs/hubfs/iaas-caas-saas.jpg?width=1800&amp;name=iaas-caas-saas.jpg 1800w" sizes="(max-width: 600px) 100vw, 600px"></figure>
<p><strong>Let's break down each one of the categories.</strong></p>
<h3>IaaS</h3>
<p><strong>IaaS is one of the root forms of cloud computing.<span>&nbsp;</span></strong>This is because IaaS provides network infrastructure like servers and storage. Businesses like yours can avoid investing in on-site resources and outsource this need to an IaaS provider.&nbsp;</p>
<p><a href="https://trio.dev/aws">Amazon Web Services (AWS)</a><span>&nbsp;</span>is likely the most pervasive example of IaaS. While it’s likely more people are familiar with the online shopping website, AWS is a cloud platform hosting data centers globally that powers much of the internet.&nbsp;</p>
<p>Jeff Bezos compares AWS to a utility company. In the early 1900s, a factory needing electricity would need to build its own power plant. Of course, this was until electric companies made it possible for others to buy electricity as a public utility.&nbsp;</p>
<p>Similarly, AWS serves as a storage space for<span>&nbsp;</span><a href="https://www.investopedia.com/articles/investing/011316/what-amazon-web-services-and-why-it-so-successful.asp">more than a third</a><span>&nbsp;</span>of the cloud market. For small and medium-sized businesses (SMBs) especially, this can be a practical way of reducing startup costs.&nbsp;</p>
<h3>CaaS</h3>
<p><strong>CaaS is something most people are familiar with, even if the term ‘CaaS’ isn’t the first thing to come to mind.</strong></p>
<p>Communication mediums like instant messaging,<span>&nbsp;</span><a href="https://callhippo.com/blog/industry/voip-solution-for-different-industries">Voice over Internet Protocol or VoIP technology</a>, video conferencing, and more all fit neatly under the category of CaaS.&nbsp;&nbsp;</p>
<p>You probably don’t need any help to think of a bunch of CaaS examples in action. These examples may include Skype, Facebook Messenger, Discord, Slack, etc.&nbsp;</p>
<p>Whatever hardware and software are responsible for delivering these services is largely behind the scenes while you reap the benefits.&nbsp;</p>
<h3>SaaS</h3>
<p><strong>With SaaS, businesses can access software on a subscription basis.</strong></p>
<p>SaaS providers carry the burden of maintaining and storing servers, databases, and the code that makes up the application. All you need is an internet connection. Some salient examples of SaaS might be Microsoft 365 or Dropbox.&nbsp;</p>
<p>Microsoft 365 lends you all the products of the Microsoft Office Suite that are often installed on one’s computer. Except with Microsoft 365, it can be utilized from your web browser, no installation required.</p>
<p>Dropbox is a storage service where you can save documents, pictures, and videos online. The advantage gained is that if you lose media on your local device, you will always have a backup online so long as you have an internet connection.&nbsp;</p>

          </div>
  
  
  {% endblock %}
</body>
</html>